@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #eeeeee; */
    font-family: 'Poppins', sans-serif;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.main-container{
    width: auto;
    margin: auto;
    padding: 1.5rem 2rem 3rem 2rem;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-radius: 10px;
}

.main-container h3{
    font-size: 2rem;
    color: #1482f0;
    font-weight: 600;
}

.all-hexbox{
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    /* background-color: brown; */
    padding: 1rem;
    margin-top: 3rem;
}

.boxone{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.boxone p{
    font-size: 1rem;
    color: #eeeeee;
    font-weight: 500;
}

.first-box, .second-box, .third-box, .fourth-box{
    width: auto;
    padding: 4rem 8rem 4rem 8rem;
    background-color: blueviolet;
    border-radius: 0.3rem;
}


button{
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: #0873df;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 10%;
    color: #eeeeee;
    margin-top: 2.5rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 0.5rem;
    border-style: none
    
}

button:hover{
    background-color: #075eb4;
    color: #eeeeee;
}
   